#sidebar{
  background-color: #ccc;
}
#main{
  background-color: #efefef;
}
 
@media screen and (min-width : 1088px) {
  #wrapper
  {
    display: flex;
  }
  #sidebar
  {
    width: 250px;
    padding: 20px;
  }
  #main
  {
    flex: 1;
    order: 2;
    padding: 20px;
  }
}

pre {
  background-color: #333333;

  code {
    color: white;
  }
}

code {
  background-color: #e2e2e2;
  color: #333333;
}
