html body {
  background-color: $site-white-light;
}

#main{
  width: 100%;
  background-color: $site-white;
  line-height: 1.9;

  ul {
    list-style: disc;
    padding-left: 40px;
  }
}
#sidebar
{
  .access-now {
    color: $theme;
  }

  section {
    margin-bottom: 0.3rem;
  }

  a {
    color: $text-light-color;
    text-decoration: none;

    &:hover {
      color: $text-color;
    }
  }
}
 
@media screen and (min-width : 1088px) {
  #wrapper
  {
    display: flex;
  }
  #main
  {
    flex: 1;
    order: 2;
    padding: 20px;
    width: calc(100% - 550px);
  }
  #sidebar
  {
    width: 250px;
    padding: 20px;
    font-size: 0.9rem;
  }
}

pre {
  background-color: #333333;
  margin: 1rem 0;
  overflow: auto;

  code {
    color: white;
    white-space: pre;
    overflow: auto;
  }
}

code {
  background-color: #e2e2e2;
  color: #333333;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1.0rem 0;
  border-bottom: 1px solid #b2b2b2;
}

a {
  color: $theme;
  text-decoration: underline;

  &:hover {
    color: $theme;
    text-decoration: underline;
  }
}

p {
  padding: 0.4rem 0;
}

table {
  th {
    padding: 0px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #3a8fb7;
    background-color: #7db9de;
    color: $site-white-light;
  }
  td {
    padding: 0px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #3a8fb7;
  }
}
