html body {
  background-color: #efefef;
}

#main{
  background-color: #f7f7f7;
  line-height: 1.9;
}
#sidebar
{
  .access-now {
    color: $theme;
  }

  a {
    color: $text-light-color;
    text-decoration: none;

    &:hover {
      color: $text-color;
    }
  }
}
 
@media screen and (min-width : 1088px) {
  #wrapper
  {
    display: flex;
  }
  #main
  {
    flex: 1;
    order: 2;
    padding: 20px;
  }
  #sidebar
  {
    width: 250px;
    padding: 20px;
  }
}

pre {
  background-color: #333333;
  margin: 1rem 0;

  code {
    color: white;
  }
}

code {
  background-color: #e2e2e2;
  color: #333333;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1.0rem 0;
  border-bottom: 1px solid #b2b2b2;
}

a {
  color: $theme;
  text-decoration: underline;

  &:hover {
    color: $theme;
    text-decoration: underline;
  }
}
