#menu-box
{
  width: 50%;
  padding: 0.5rem 0.8rem;

  a
  {
    height: 100%;
    text-decoration: none !important;
    &:hover
    {
      background-color: $grey-lighter;
      .menu-text-area .menu-sub-title
      {
        color: $text-color;
      }
    }
  }

  .menu-item-container
  {
    display: flex;
    flex-direction: row;
    word-break: break-word;
  }
  .menu-icon-area
  {
    margin: 1rem 1.5rem;

    i
    {
      color: $theme;
      font-size: 2.2rem;
    }
  }
  .menu-text-area
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .menu-title
    {
      color: $text-color;
      font-size: 1.2rem;
      margin-bottom: 0.3rem;
    }
    .menu-sub-title
    {
      color: $text-light-color;
      font-size: 1rem;
      text-align: left;
    }
  }
}
