.navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
a.navbar-item {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: $theme-light;
  }
}
a.navbar-link {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: $theme-light;
  }
  &:not(.is-arrowless)::after {
    border-color: white;
  }
}
.navbar-menu {
  text-decoration: none;
  color: white;
  background-color: $theme;
}
.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
  text-decoration: none;
  color: white;
  background-color: $theme-light;
}
.navbar-dropdown {
  text-decoration: none;
  color: white;
  background-color: $theme;

  a.navbar-item {
    &:hover {
      text-decoration: none;
      color: white;
      background-color: $theme-light;
    }
  }
}
