#top-menu {
  .menu-list-container {
    display: flex;
    flex: 1;
    .menu-list {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      margin: 1rem 0;
    }
    .menu-box {
      width: 50%;
    }
  }
}
